@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

.white-box {
  background: white;
  box-shadow: 0 0 20px -5px rgb(196, 196, 196);
  overflow: hidden;
}

.head-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

div ::-webkit-scrollbar {
  width: 0.35rem;
}
/* Track */
div ::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
div ::-webkit-scrollbar-thumb {
  background: #00000024;
  border-radius: 2rem;
}
/* Handle on hover */
div ::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a74;
}

table ::-webkit-scrollbar {
  width: 0.35rem;
}
table ::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
table ::-webkit-scrollbar-thumb {
  background: #00000024;
  border-radius: 2rem;
}
/* Handle on hover */
table ::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a74;
}
